{%  extends 'djangoapp/main.html' %}
{% load static %}
{% block content %}

<div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Dealership</th>
          <th scope="col">Address</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Add Review</th>
        </tr>
      </thead>
      <tbody>
      {% for dealer in dealers %}
        <tr>
            <th scope="row">{{dealer.name}}</th>
            <td>{{dealer.address}}</td>
            <td>{{dealer.city}}</td>
            <td>{{dealer.st}}</td>
            <td><a class="btn btn-sm btn-info" href="{% url 'djangoapp:add_review' %}?dealership={{dealer.dealer_id}}">Add Review</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>  
</div>

{% endblock %}
