{%  extends 'djangoapp/main.html' %}
{% load static %}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">Dealership</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Add Review</th>
      </tr>
    </thead>
    <tbody>
    {% for dealership in dealers %}
      <tr>
          <th scope="row">{{dealership.name}}</th>
          <td>{{dealership.address}}</td>
          <td>{{dealership.city}}</td>
          <td>{{dealership.state}}</td>
          <td><a class="btn btn-sm btn-info" href="{% url 'djangoapp:add_review' %}?dealership={{dealership.dealer_id}}">Add Review</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock %}
